* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
}

.menu{
    background-color: #000;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    display: inline-flex;
	margin: auto;
	justify-content: space-between;

}

.menu ul li a{
    color: white;
    display: flex;
    padding: 20px 65px;
    text-decoration: none;
}

.menu ul li a:hover{
    background-color: #42b881;
}



.box__footer{
    text-align: center;
    color: #1a5fa0;
}

.box__footer a{
    text-decoration: none;
color: rgb(111, 109, 146);
}

footer{
    margin: 1%;
    padding: 1%;
    background-color: #101010;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(255, 255, 255);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}